@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<p>Developed by: @ViewData["Developer"]</p>
<adress>
    <p>Contact: @ViewData["email"] // <a href="https://github.com/LuccaMenegatti" target="_blank">GitHub</a></p>
    
</adress>

